{% extends 'dist/base.html' %}
{% load static %}
{% block content %}

<div class="main-panel">
  <div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title">
        <span class="page-title-icon bg-gradient-primary text-white me-2">
          <i class="mdi mdi-home"></i>
        </span>
        Dashboard
      </h3>
      <nav aria-label="breadcrumb">
        <ul class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <span></span>Liste des diagnostics
            <i class="mdi mdi-alert-circle-outline icon-sm text-primary align-middle"></i>
          </li>
        </ul>
      </nav>
    </div>

    <div class="row">
      <div class="col-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Liste des diagnostics</h4>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>Date</th>
                    <th>Garage</th>
                    <th>Véhicule</th>
                    <th>Problèmes</th>
                    <th>Solutions</th>
                    <th>Durée</th>
                    <th>Méthode</th>
                    <th>Actions</th>
                  </tr>
                </thead>
                <tbody>
                  {% for diagnostic in diagnostics %}
                  <tr>
                    <td>{{ diagnostic.date_add }}</td>
                    <td>{{ diagnostic.garage.name }}</td>
                    <td>{{ diagnostic.vehicule.modele.nom }} ({{ diagnostic.vehicule.immatriculation }})</td>
                    <td>{{ diagnostic.problems }}</td>
                    <td>{{ diagnostic.solutions }}</td>
                    <td>{{ diagnostic.duree_diagnostic }} heures</td>
                    <td>{{ diagnostic.method_diagnostic }}</td>
                    <td>
                      <a href="{% url 'modifier_diagnostic' diagnostic.id %}" class="btn btn-primary">Modifier </a>
                      <form action="{% url 'supprimer_diagnostic' diagnostic.id %}" method="post" style="display: inline;">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Supprimer</button>
                      </form>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% if not diagnostics %}
              <p>Aucun diagnostic trouvé.</p>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock content %}
